Repository endless-sky/Endless-Sky-Delta, pull requests merged in 2024-10, with the labels that each got.

#24 Limit number of fleets & spawn specified number when entering system
  source/CMakeLists.txt
  source/Engine.cpp
  source/Engine.h
  source/Fleet.cpp
  source/Fleet.h
  source/LimitedEvents.h
  source/PlayerInfo.cpp
  source/PlayerInfo.h
  source/RandomEvent.h
  source/Ship.cpp
  source/Ship.h
  source/SpawnedFleet.cpp
  source/SpawnedFleet.h
  source/System.cpp
  source/System.h
  tests/CMakeLists.txt
  tests/integration/config/plugins/integration-tests/data/tests/tests_spawn_limits.txt
Labels: code

#82 feat(code): Set version numbers to 0.10.09 for the release
  CMakeLists.txt
  credits.txt
  endless-sky.6
  resources/EndlessSky-Info.plist
  source/main.cpp
Labels: Updating

#84 Feat(update): Version number 0.10.10 for development
  credits.txt
  endless-sky.6
  source/main.cpp
Labels: code

#89 Update Marauder engine slots
  data/human/marauders.txt
Labels: Content (data)

#96 feat(update): Bringing in 5 commits from upstream (no conflicts)
  data/kahet/kahet missions.txt
  data/korath/korath ships.txt
  data/successors/successor 1 prologue.txt
  data/successors/successor side missions.txt
  source/LineShader.cpp
Labels: Updating

#94 Add engine slots for the Incipias/Successors
  data/incipias/incipias outfits.txt
  data/incipias/incipias ships.txt
  data/successors/successor outfits.txt
  data/successors/successor ships.txt
Labels: Content (data)

#85 Korath campaign: first contact, establish lore, side story, and Korath-protected smuggler's haven
  .codespell.exclude
  copyright
  data/commodities.txt
  data/dialog phrases.txt
  data/governments.txt
  data/human/deep missions.txt
  data/human/fleets.txt
  data/human/frontier jobs.txt
  data/human/jobs.txt
  data/human/names.txt
  data/human/news.txt
  data/human/pirate jobs.txt
  data/human/sales.txt
  data/human/ships.txt
  data/human/variants.txt
  data/korath/korath jobs.txt
  data/korath/korath missions.txt
  data/korath/korath.txt
  data/map planets.txt
  data/map systems.txt
  data/remnant/remnant 1 introduction.txt
  data/remnant/remnant 2 cognizance.txt
  data/remnant/remnant events.txt
  data/remnant/remnant jobs.txt
  data/wanderer/wanderers middle.txt
  images/land/monterey-bay-aquarium.jpg
  images/land/monterey-bay-aquarium@2x.jpg
  images/land/rough-seas.jpg
  images/land/rough-seas@2x.jpg
  images/planet/lumpy-moon.png
  images/planet/lumpy-moon@2x.png
  images/planet/ocean-rabasot.png
  images/planet/ocean-rabasot@2x.png
  images/scene/blue-whale.jpg
  images/scene/blue-whale@2x.jpg
  images/scene/purple-lightning.jpg
  images/scene/purple-lightning@2x.jpg
  images/scene/volcanic-eruption-at-night.jpg
  images/scene/volcanic-eruption-at-night@2x.jpg
Labels: Content (data)

#97 Feat(update): 2024 10 05 conflict resolution
  copyright
  data/bunrodea/bunrodea weapons.txt
  data/incipias/incipias ships.txt
  images/icon/swarm.png
Labels: Updating

#90 Add a thermal scanner mission
  data/governments.txt
  data/human/campaign events.txt
  data/human/free worlds side plots.txt
  data/human/variants.txt
Labels: Content (data)

#105 Two typo fixes in the new Korath missions
  data/korath/korath missions.txt
Labels: bug, Content (data)

#101 feat(content): Add a defense fleet to planets in Sol that are missing one
  data/human/fleets.txt
  data/map planets.txt
Labels: Content (data)

#109 Feat(update): 2024-10-24 conflict resolution
  changelog
  data/_ui/tooltips.txt
  data/bunrodea/bunrodea missions.txt
  data/hai/hai missions.txt
  data/hai/unfettered 0 prologue.txt
  data/human/culture conversations.txt
  data/human/free worlds 2 middle.txt
  data/human/human missions.txt
  data/incipias/incipias ships.txt
  data/map planets.txt
  data/quarg/quarg missions.txt
  data/remnant/remnant 2 side missions.txt
  data/remnant/remnant jobs.txt
  data/vyrmeid/vyrmeid.txt
  images/land/igna.png
  images/land/methuselah.png
  images/land/treser.png
  images/land/vulpa.png
  keys.txt
  source/AI.cpp
  source/AI.h
  source/CMakeLists.txt
  source/Command.cpp
  source/Command.h
  source/MapPanel.cpp
  source/Orders.cpp
  source/Orders.h
  source/OutfitterPanel.cpp
  source/PreferencesPanel.cpp
Labels: Updating

#111 feat(update): 2024-10-27 update & conflict resolution
  CMakeLists.txt
  changelog
  copyright
  credits.txt
  data/_ui/landing messages.txt
  data/_ui/tooltips.txt
  data/coalition/coalition weapons.txt
  data/drak/drak ships.txt
  data/globals.txt
  data/hai/hai fleets.txt
  data/hai/hai missions.txt
  data/hai/hai outfits.txt
  data/hai/hai ships.txt
  data/hai/hai.txt
  data/human/culture conversations.txt
  data/human/deep missions.txt
  data/human/free worlds 0 prologue.txt
  data/human/free worlds 4 epilogue.txt
  data/human/human missions.txt
  data/human/intro missions.txt
  data/korath/korath variants.txt
  data/map planets.txt
  data/persons.txt
  data/quarg/quarg missions.txt
  data/remnant/remnant 1 introduction.txt
  data/remnant/remnant 2 cognizance.txt
  data/start.txt
  data/starts.txt
  endless-sky.6
  images/outfit/holovid zone.png
  images/outfit/phantom pallet.png
  images/scene/hai bank.jpg
  images/scene/hai shipyard.jpg
  images/scene/hai start.jpg
  images/ship/hauler vi.png
  images/thumbnail/hauler vi.png
  io.github.endless_sky.endless_sky.appdata.xml
  resources/EndlessSky-Info.plist
  source/Engine.cpp
  source/Ship.cpp
Labels: Updating

#106 Feat(code): Creating Weapon Pylons (new hardpoint for missiles and other projectiles)
  data/_deprecated/deprecated outfits.txt
  data/_deprecated/deprecated ships.txt
  data/_ui/interfaces.txt
  data/bunrodea/bunrodea ships.txt
  data/bunrodea/bunrodea weapons.txt
  data/coalition/coalition ships.txt
  data/coalition/coalition weapons.txt
  data/hai/hai outfits.txt
  data/hai/hai ships.txt
  data/human/deep missions.txt
  data/human/kestrel.txt
  data/human/marauders.txt
  data/human/sales.txt
  data/human/ships.txt
  data/human/variants.txt
  data/human/weapons.txt
  data/incipias/incipias outfits.txt
  data/incipias/incipias ships.txt
  data/kahet/kahet outfits.txt
  data/kahet/kahet ships.txt
  data/korath/korath ships.txt
  data/korath/korath variants.txt
  data/korath/korath weapons.txt
  data/persons.txt
  data/pug/pug outfits.txt
  data/pug/pug ships.txt
  data/remnant/remnant outfits.txt
  data/remnant/remnant ships.txt
  data/sheragi/sheragi outfits.txt
  data/sheragi/sheragi ships.txt
  data/successors/successor ships.txt
  data/successors/successor variants.txt
  data/successors/successor weapons.txt
  data/wanderer/wanderer outfits.txt
  data/wanderer/wanderer ships.txt
  data/wanderer/wanderers start.txt
  source/Armament.cpp
  source/Armament.h
  source/Hardpoint.cpp
  source/Hardpoint.h
  source/HardpointInfoPanel.cpp
  source/OutfitInfoDisplay.cpp
  source/OutfitterPanel.cpp
  source/PrintData.cpp
  source/Ship.cpp
  source/ShipInfoDisplay.cpp
  source/ShipInfoPanel.cpp
  source/text/Format.cpp
  tests/integration/config/plugins/integration-tests/data/tests/tests_flagship_attribute_autoconditions.txt
Labels: enhancement, Content (data), code

#112 feat(data): Move the starting year back by 1
  data/starts.txt
Labels: Content (data)

#117 feat(code): Hardpoint Empty Label clarification
  data/human/sales.txt
  source/Armament.cpp
  source/Hardpoint.h
  source/HardpointInfoPanel.cpp
  source/image/Sprite.cpp
Labels: code

#104 feat(content): Scale Sabik
  data/map systems.txt
Labels: Content (data)

#102 feat(content): Scaling Kornephoros
  data/map systems.txt
Labels: Content (data)

#116 feat(data); Lampyrid Start
  data/globals.txt
  data/human/intro missions.txt
  data/starts.txt
Labels: Content (data)
